.inputGroup {
	z-index: 1;
	display: inline-block;
	width: 100%;
	input {
		font-family: 'Poppins', sans-serif;
		width: 100%;
		font-size: 15px;
		line-height: 1.5;
		color: #3f3f56;
		background-color: #ffffff;
		border: 2px solid #e6e6e6;
		height: 50px;
		border-radius: 5px;
		padding-left: 15px;
	}
	textarea{
		margin: 0;
		resize: none;
		font-family: 'Poppins', sans-serif;
		width: 93%;
		font-size: 15px;
		line-height: 1.5;
		color: #3f3f56;
		background-color: #ffffff;
		border: 2px solid #e6e6e6;
		height: 110px;
		border-radius: 5px;
		padding-left: 15px;
	}
	.error {
		margin: 0;
		text-align: left;
		margin-left: 10px;
		font-size: 14px;
		color: red;
	}
	input.inValid {
		border: 1px solid red;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #e6e6e6;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #e6e6e6;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #e6e6e6;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #e6e6e6;
	}
}
