.comment {
	border-bottom: 1.3px solid #d6d5d5;
	padding: 15px 0;
	.photo {
		display: inline-block;
		img {
			height: 75px;
			width: 75px;
		}
	}
	.text {
		display: inline-block;
		margin-left: 15px;
		vertical-align: top;
		p {
			margin-top: 0;
		}
	}
}
