<div class="comments-list">
	<h1 class="caption">
		Comments
	</h1>

	<div class="warning" *ngIf="(!comments) || (comments && comments.length === 0)">
		<p>
			No comments yet.
			Add your first comment to this item!
		</p>
	</div>

	<div class="comments" *ngIf="comments && comments.length > 0">
		<app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
	</div>

	<div class="text-area" *ngIf="selectedItem">
		<app-ui-input
			[isTextarea]="true"
			[placeholder]="'type your comment here'"
			[type]="'placeholder'"
			[formCtrl]="form.controls['commentText']"
			(submitEvent)="createComment()"
		></app-ui-input>
	</div>

</div>
